---
import LinkButtons from "./LinkButtons.astro";
---

<nav class="flex justify-center gap-10 items-center p-2">
  <LinkButtons text="Characters" link="#" />
  <LinkButtons text="Weapons" link="#" />
  <a href="/">
    <img
      width="300px"
      loading="lazy"
      src="/genshin-logo.webp"
      alt="Genshin Impact Logo"
    />
  </a>
  <LinkButtons text="Nations" link="#" />
  <LinkButtons text="Afiliations" link="#" />
</nav>
